---
import type { ProjectProps } from "../types";

interface Props extends ProjectProps {}

const { title, image, github_url, site_url, skills } = Astro.props;
---

<div class="project | flow">
  <div class="project__img-wrapper">
    <img src={image} alt="Preview" />
    <ul role="list" class="skills">
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
  </div>
  <div class="project__content | flow">
    <h3 class="project__title">{title}</h3>
    <div class="flex-group" data-flex-gap="lg">
      <a
        class="project__link"
        href={github_url}
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-github"></i>
        <span>GitHub Repo</span>
      </a>

      <a
        class="project__link"
        href={site_url}
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-solid fa-link"></i>
        <span>Live Preview</span>
      </a>
    </div>
  </div>
</div>
