---
import type { ProjectProps } from "../types";
import Button from "./Button.astro";

const { title, image, github_url, site_url, tags } = Astro.props as ProjectProps;
---

<li>
  <div class="project">
    <div class="project__img-wrapper">
      <img class="project__img" src={image} alt={`${title} preview`}  decoding="async"
      loading="lazy" />
      <div class="project__meta">
        <Button
          renderAs="link"
          href={site_url}
          target="_blank"
          rel="noopener noreferrer"
          data-variant="primary"
        >
          <span>Live Preview</span>
          <i class="fa-solid fa-arrow-up-right-from-square"></i>
        </Button>
        <Button
          renderAs="link"
          href={github_url}
          target="_blank"
          rel="noopener noreferrer"
          data-variant="secondary"
        >
          <span>Source Code</span>
          <i class="fa-solid fa-code"></i>
        </Button>
      </div>
    </div>
    <div>
      <h3 class="project__title">{title}</h3>
      <ul class="project__tags" role="list">
        {tags.map((tag) => (
          <li class="project__tag">{tag}</li>
        ))}
      </ul>
    </div>
  </div>
</li>
